* {
  font-family: arial, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* 
h1,
h2,
h3,
h4 {
  font-family: garamond, serif;
} 
*/

/* header */

header {
  display       : flex;
  flex-direction: column;
  margin        : 0;
}

header img.logo {
  padding  : 1rem 5%;
  max-width: 90%;
  margin   : auto;
}

/* Navigation Bar */

nav {
  background-color: #7c9aa5;
  margin          : 0 0 1rem;
}

nav ul {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  margin         : 0;
  padding        : 0;
}

nav li {
  display: inline;
  padding: 1.25rem 2rem;
  margin : 0;
}

nav li:hover {
  background-color: #94acb6;
}

nav a {
  text-decoration: none;
  color          : black;
  font-size      : 1.25rem;
}

nav li.current a {
  color: #ffffff;
}

/* Main */
main {
  display       : flex;
  flex-direction: column;
  color         : #444648;
  max-width     : 800px;
  padding       : 2rem;
  margin        : auto;
}

main p {
  font-size  : 1.25rem;
  line-height: 1.75rem;
}

main a {
  color: #7d9494;
}

main .img-grid {
  display        : flex;
  flex-wrap      : wrap;
  padding        : 0;
  margin         : 0;
  justify-content: center;
}

main .img-grid img {
  max-width: 200px;
  margin   : 1rem;
}

/* Image Grid */

/* Section */

section {
  margin: 1rem 0;
}

section h1 {
  color    : #49535c;
  padding  : 0;
  font-size: 1.5rem;
}

section .img-grid {
  display        : flex;
  flex-wrap      : wrap;
  padding        : 0;
  margin         : 0;
  justify-content: flex-start;
}

section .img-grid img {
  max-width: 200px;
  margin   : 1rem;
}

section .img-grid :first-child {
  margin: 1rem 1rem 1rem 0;
}

/* Footer */
footer {
  background-color: #94acb6;
  padding         : 0.5rem 2rem;
  margin          : 0;
  text-align      : right;
  font-size       : 1rem;
  color           : #565b5b;
}

footer a {
  color: #565b5b;
}

/* medium size screens */
@media (max-width: 750px) {
  main .img-grid img {
    width : 175px;
    height: 175px;
    margin: 0.5rem;
  }

  section .img-grid img {
    width : 175px;
    height: 175px;
    margin: 0.5rem;
  }

  section .img-grid :first-child {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
}
@media (max-width: 630px) {
  main .img-grid img {
    width : 150px;
    height: 150px;
  }

  section .img-grid img {
    width : 150px;
    height: 150px;
    margin: 0.5rem;
  }

  nav a {
    font-size: 1rem;
  }

  nav li {
    padding: 1rem;
  }
}

@media (max-width: 553px) {
  section .img-grid :first-child {
    margin: 0.5rem;
  }
}

@media (max-width: 400px) {
  nav li {
    padding: 1rem 0.5rem;
  }
}
