<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item {% if page.url == '/hw/' %}is-active{% endif %}" href="{{ "/work" | prepend: site.baseurl }}">Our Work</a>
    <!-- <a class="c-navigation__item {% if page.url == '/schedule' %}is-active{% endif %}" href="{{ "/leadership" | prepend: site.baseurl }}">Leadership</a> -->
    <a class="c-navigation__item {% if page.url == '/hw/' %}is-active{% endif %}" href="{{ "/careers" | prepend: site.baseurl }}">Careers</a>
    <a class="c-navigation__item {% if page.url == '/exams/' %}is-active{% endif %}" href="{{ "/contact" | prepend: site.baseurl }}">Contact Us</a>
  </div>
</nav>
