/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  padding-top: 9rem;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  background: $c__dark-blue;
}

.c-header__title {
  position: relative;
  @include ff--sans-serif(500);
  @include fs--title;
  color: $c__white;

  &:after {
    margin-left: .5rem;
    color: rgba(#fff, .5);
    //content: '¬';
  }

  span {
    color: rgba(#fff, .5);
  }
}
