/* ==========================================================================
   Colgate Theme
   ========================================================================== */

.t-colgate {

  .c-navigation,
  .c-header {
    background: $c__maroon;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__gray;
  }

  .c-footer a {
    color: $c__maroon;
  }
}
